---
layout: default
title: Yvan Denais
---

<div class="home-wrap">
  {% include header.html %}
</div>
<!-- We will put here all of our site sections and display the one active-->
<div class="home-sections">
  <div class="about-section">{% include about.html %}</div>
  <div class="resume-section">{% include resume.html %}</div>
  <div class="skills-section">{% include skills.html %}</div>
  <div class="projects-section">{% include projects.html %}</div>
  <div class="contact-section">{% include contact.html %}</div>
</div>

<div class="footer-wrap">

</div>
